* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
}

button {
    position: absolute;
    left: 5%;
    top: 5%;
}

ul {
    margin: auto;
}

li {
    color: yellow;
    display: inline-block;
    font-size: 40px;
    font-family: 'Monda', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    text-shadow: 0 0 30px white, 0 0 10px yellow;
    transition: opacity 0.5s;
}

li:nth-child(3) {
    transform: rotate(15deg) translateY(4px);
    animation: neon 2s infinite linear;
}

.off {
    opacity: 0;
}

@keyframes neon {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    20% {
        opacity: 0.5;
    }

    39% {
        opacity: 0.5;
    }

    55% {
        opacity: 1;
    }

    59% {
        opacity: 0.5;
    }

    65% {
        opacity: 0.5;
    }

    75% {
        opacity: 0;
    }

    83% {
        opacity: 0.8;
    }

    91% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}